body{
	background-color:lightgreen;
	margin: 0px;
	padding: 0px;
}
h1,h4{
     color:red;
 }
 header{
	 background-color: blue;
	 height:50;
 }
 p{
  color:blue;
 }
#sym{
	color:red;
}
header :li{
	color:white;
}
ol,ul{
	color:white;
}
#left-nav{
	float:left;
}
ul li{
	list-style-type: none;
}
footer{
	color:white; 
	background-color:black;
	height:100;
}
.footer{
	margin-left:500px;
	margin-top:50px;
}
#right-nav{
	float:right;
}
a {
	color: white;
	text-decoration: none;
}
#right-nav li{
	display : inline-block;
}
