body{
	background-color:lightgreen;
	margin: 0px;
	padding: 0px;
}
h1,h4{
     color:red;
 }
 header{
	 background-color: blue;
	 height:50;
 }
 p{
  color:blue;
 }
.sym{
	color:red;
ol,ul{
	color:blue;
}
.left-nav{
	float:left;
}
